
<h1>New user</h1>

<%= render 'form', user: @user %>

<%= link_to "Sign up with Google", "/auth/google_oauth2"%> <br><br>
<%= link_to "Sign up with Facebook", "/auth/facebook"%> <br><br>

<%= link_to 'Back', users_path %>
