
<h1>New user</h1>

<%= render 'form', user: @user %>

<%= link_to "Sign up with Google", "/auth/google_oauth2"%> <br><br>
<a href=’/auth/facebook’>SignUp with Facebook</a>
<%= link_to 'Back', users_path %>
