<h3 class="text-center">"Research has shown that it takes 31 days of conscious effort to make or break a habit. That means, if one practices something consistently for 31 days, on the 32nd day it does become a habit. Information has been internalised into behavioural change, which is called transformation." - Shiv Khera</h3> <br><br>

<h3 class="text-center">What habit would you like to build in the next 32 days and commit to in front of the group and post your daily progress?</h3> <br><br>

<div>
  <div style="float:none;" class="col-md-4 text-center">
    <%= button_to "Add a New Habit", new_habit_path, :method  => :get  %>
  </div>
  <div style="float:none;" class="col-md-4 text-center">
    <%= button_to "All Habits", habits_path, :method  => :get  %>
  </div>
  <div style="clear:both;">
  </div>
</div>
