<h3>"Research has shown that it takes 31 days of conscious effort to make or break a habit. That means, if one practices something consistently for 31 days, on the 32nd day it does become a habit. Information has been internalised into behavioural change, which is called transformation. Information has been internalised into behavioural change, which is called transformation." - Shiv Khera</h3> <br><br>

<h3>What habit would you like to build in the next 32 days and commit to in front of the group and post your daily progress?</h3>


<!-- <ul>
  <h3>Remember:</h3><br><br>
  <li>If a habit is hard to establish, then it is a good habit.</li>
  <li>If it is hard to quit, then it is a bad habit.</li>
</ul> -->
